<section id="gallery" class="gallery">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title">{{'products'| translate}}</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-4" *ngFor="let item of products">
                <div class="box">
                    <img [src]="item.image" [alt]="item.title" />
                    <div class="box-body">
                        <h2>{{item.title}}</h2>
                        <div class="row justify-content-center">
                            <button class="btn" pButton label="مشاهده" routerLink="products"
                                [state]="{catID:item._id,keywords:item.keywords,metaData:item.metaData}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>