<section id="hero" class=" d-flex align-items-center justify-content-center">
  <div class="align-items-center text-center">
    <div class="row">
      <div class="col-lg-12 animated fadeInUp scrollto">
        <h1>{{'sitetitle'| translate}}</h1>
        <h2>{{'subtitle'| translate}}</h2>
        <!-- <div class=" mt-5">
          <a href="#" class="btn-menu animated fadeInUp scrollto" routerLink="order">{{'orderbtn'| translate}}</a>
        </div> -->
      </div>
    </div>
  </div>
</section>