<p-toast position="center"></p-toast>
<section class="container py-5 px-lg-5">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row align-items-center">
            <div class="col-lg-3 col-sm-12 mb-3">
                <p-dropdown [options]="category" placeholder="انتخاب دسته" formControlName="categoryID"
                    (onChange)="onSelectCat($event)" optionLabel="title" optionValue="_id"></p-dropdown>
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
                <p-dropdown [options]="subCategory" placeholder="انتخاب زیر دسته" formControlName="subCategoryID"
                    (onChange)="onSelectSubCat($event)" optionValue="_id" optionLabel="title"></p-dropdown>
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
                <p-dropdown [options]="products" placeholder="انتخاب محصول" formControlName="productID"
                    optionValue="_id" optionLabel="title"></p-dropdown>
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
                <p-dropdown [options]="users" placeholder="انتخاب مشتری" formControlName="userID"
                    optionLabel="companyName" optionValue="_id"></p-dropdown>
            </div>
            <div class="col-lg-6 col-sm-12 mb-3">
                <input type="text" pInputText placeholder="عنوان سفارش" formControlName="title" required />
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
                <p-inputNumber formControlName="number" [showButtons]="true" placeholder="تعداد"
                    formControlName="number" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                    [step]="1" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal" [min]="1"
                    [max]="100000000000"></p-inputNumber>
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
                <p-dropdown [options]="status" placeholder="وضعیت سفارش" formControlName="status" optionValue="title"
                    optionLabel="title"></p-dropdown>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <p-fileUpload [customUpload]="true" (uploadHandler)="onFileUpload($event)" chooseLabel="انتخاب فایل"
                    uploadLabel="آپلود" cancelLabel="انصراف" accept=".rar,.pdf,.docx,.jpg,.png"
                    invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
                    invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد" [maxFileSize]="10000000">
                </p-fileUpload>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <textarea rows="5" placeholder="توضیحات" pInputTextarea formControlName="description"></textarea>
            </div>
            <div pRipple class="col-lg-12 text-center mt-2">
                <p-button type="submit" label="ثبت سفارش" [disabled]="!form.valid"></p-button>
            </div>
        </div>
    </form>
</section>