<p-toast position="center"></p-toast>
<section class="container py-5 px-lg-5">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 mb-3">
                <p-dropdown [options]="category" placeholder="انتخاب دسته" formControlName="categoryID"
                    (onChange)="onSelectCat($event)" optionLabel="title" optionValue="_id"></p-dropdown>
            </div>
            <!-- <div class="col-lg-3 col-sm-12 mb-3">
                <p-dropdown [options]="subCategory" placeholder="انتخاب زیر دسته" formControlName="subCategoryID"
                    optionValue="_id" optionLabel="title"></p-dropdown>
            </div> -->
            <div class="col-lg-6 col-sm-12 mb-3">
                <input type="text" pInputText placeholder="نام محصول" formControlName="title" />
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <input type="text" pInputText placeholder="خلاصه" formControlName="info" />
            </div>

            <div class="col-lg-12 col-sm-12 mb-3">
                <textarea rows="5" placeholder="توضیحات" pInputTextarea formControlName="description"></textarea>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <textarea rows="3" placeholder="کلمات کلیدی" pInputTextarea formControlName="keywords"></textarea>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <textarea rows="5" placeholder="توضیحات متا" pInputTextarea formControlName="metaData"></textarea>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <p-fileUpload [customUpload]="true" (uploadHandler)="onFileUpload($event)" chooseLabel="انتخاب فایل"
                    uploadLabel="آپلود" cancelLabel="انصراف" accept=".jpg,.png"
                    invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
                    invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد" [maxFileSize]="10000000">
                </p-fileUpload>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <p-fileUpload [customUpload]="true" (uploadHandler)="onFilesUpload($event)" chooseLabel="انتخاب گالری"
                    uploadLabel="آپلود" cancelLabel="انصراف" accept=".jpg,.png" [multiple]="true"
                    invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
                    invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد" [maxFileSize]="10000000">
                </p-fileUpload>
            </div>
            <div class="col-lg-12 col-sm-12 mb-3">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    تصویر محصول
                    <img [src]="product.image" width="80" />
                    تصاویر گالری
                    <div *ngFor="let item of product.gallery">
                        <img [src]="item.url" width="80" />
                    </div>
                </div>
            </div>
            <div pRipple class="col-lg-12 text-center mt-2">
                <p-button type="submit" label="ویرایش محصول" [disabled]="!form.valid"></p-button>
            </div>
        </div>
    </form>
</section>