


<section id="parts" class="parts wow wow fadeInUp"  data-wow-duration="2s" data-wow-delay="0s">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 py-2">
        <a href="#" [routerLink]="['/reservation']">
          <div class="part-box">
            <i class="pi pi-list"></i>
            <h3>محصولات</h3>
            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>

          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6  py-2">
        <a href="#" [routerLink]="['/shop']">
          <div class="part-box">
            <i class="pi pi-shopping-bag"></i>
            <h3>فروشگاه</h3>
            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6  py-2">
        <a href="#" [routerLink]="['/marketing']">
          <div class="part-box">
            <i class="pi pi-megaphone"></i>
            <h3>بازاریابی و فروش</h3>
<p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6  py-2">
        <a href="#" [routerLink]="['/co-worker']">
          <div class="part-box">
            <i class="pi pi-users"></i>
            <h3>همکاری با ما</h3>
            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>

          </div>
        </a>
      </div>

    </div>
  </div>
</section>