.card {
    padding: 50px;
    margin: 50px;
    background-color: rgb(148, 142, 150);
}
h1{
    font-family: 'IRANSans_Bold';
    color: rgb(67, 31, 31); 
    font-size: 20px;
}
.btn{
    padding: 8px 50px;
}