<div id="scroll" class="header fixed-top">
  <div class="row justify-content-center">
    <div class="col-2 d-flex align-self-center">
      <a href="index.html" class="logo me-auto me-lg-0"><img src="../../../../assets/images/logo.png" alt="ماناگل"
          class="img-fluid"></a>
    </div>
    <div class="col align-self-center">
      <nav id="navbar" class="navbar order-last order-lg-0 justify-content-center">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">صفحه اصلی</a></li>
          <li><a class="nav-link scrollto" href="#counts">محصولات</a></li>
          <li><a class="nav-link scrollto" href="#more-features">خدمات</a></li>
          <li><a class="nav-link scrollto" href="#about">درباره ما</a></li>
          <li><a class="nav-link scrollto" href="#contact">تماس با ما</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-2 d-flex flex-row-reverse align-self-center">
      <a href="#" class="book-a-table-btn scrollto d-none d-lg-flex">سفارش</a>
    </div>
  </div>
</div>

<header id="scroll" class="mobileheader fixed-top">
  <div class="container-fluid d-flex flex-row justify-content-between">
    <i class="bi bi-list mobile-nav-toggle mr-5 mt-3" (click)="showMenu()"></i>
    <a href="#"><img src="../../../../assets/images/logo.png" alt="" class="logo ml-5"></a>
  </div>
</header>

<p-sidebar [(visible)]="display" [style]="{ width: '15em' }" position="right" [showCloseIcon]="true"
  [baseZIndex]="10000">
  <div class="d-flex flex-column">
    <div class="mb-auto">
      <p-panelMenu [model]="items" [style]="{ width: '100%' }"></p-panelMenu>
    </div>
  </div>
</p-sidebar>