<p-toast position="center"></p-toast>
<section id="contact" class="contact">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title">{{'contactus'| translate}}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 align-items-center">
                <div class="row">
                    <div class="col-lg-6 info">
                        <i class="bx bx-map"></i>
                        <h4>Address</h4>
                        <p>مطهری خیابان آیت اله کاشانی نرسیده به پل دارایی زاده طبقه فوقانی کلینیک لبخند</p>
                    </div>
                    <div class="col-lg-6 info">
                        <i class="bx bx-phone"></i>
                        <h4>Call Us</h4>
                        <p>06633318720-4<br />06633318720-4</p>
                    </div>
                    <div class="col-lg-6 info">
                        <i class="bx bx-envelope"></i>
                        <h4>Email Us</h4>
                        <p>info@managol.co<br>contact@managol.co</p>
                    </div>
                    <div class="col-lg-6 info">
                        <i class="bx bx-time-five"></i>
                        <h4>Working Hours</h4>
                        <p>شنبه - چهارشنبه
                            <br>8 صبح الی 16 عصر
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  align-items-center contact-form-wrap">
                <form class="form mt-4" [formGroup]="form" (ngSubmit)="sendMessage()">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <input type="text" placeholder="نام و نام خانوادگی" formControlName="fullName"
                                class="form-control" required />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <input type="email" placeholder="ایمیل" formControlName="email" class="form-control"
                                required />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <input type="text" placeholder="موبایل" pKeyFilter="num" maxlength="11" minlength="11"
                                formControlName="mobile" class="form-control" required />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <input type="text" placeholder="عنوان" formControlName="title" class="form-control"
                                required />
                        </div>
                        <div class="col-lg-12 mb-3">
                            <textarea placeholder="پیام" formControlName="message" class="form-control" rows="4"
                                required></textarea>
                        </div>
                        <div *ngFor="let error of errorMessages.fullName" class="pt-1">
                            <p class="alert alert-danger"
                                *ngIf="form.get('fullName').hasError(error.type) && (form.get('fullName').dirty || form.get('fullName').touched)">
                                {{ error.message }}
                            </p>
                        </div>
                        <div *ngFor="let error of errorMessages.email" class="pt-1">
                            <p class="alert alert-danger"
                                *ngIf="form.get('email').hasError(error.type) && (form.get('email').dirty || form.get('email').touched)">
                                {{ error.message }}
                            </p>
                        </div>
                        <div *ngFor="let error of errorMessages.mobile" class="pt-1">
                            <p class="alert alert-danger"
                                *ngIf="form.get('mobile').hasError(error.type) && (form.get('mobile').dirty || form.get('mobile').touched)">
                                {{ error.message }}
                            </p>
                        </div>
                        <div *ngFor="let error of errorMessages.title" class="pt-1">
                            <p class="alert alert-danger"
                                *ngIf="form.get('title').hasError(error.type) && (form.get('title').dirty || form.get('title').touched)">
                                {{ error.message }}
                            </p>
                        </div>
                        <div *ngFor="let error of errorMessages.message" class="pt-1">
                            <p class="alert alert-danger"
                                *ngIf="form.get('message').hasError(error.type) && (form.get('message').dirty || form.get('message').touched)">
                                {{ error.message }}
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" [disabled]="form.invalid">ارسال پیام</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>