:host::ng-deep .p-button {
  font-size: 14px;
  font-family: IRANSans_Bold !important;
  padding: 10px 20px;
}


:host::ng-deep .p-inputnumber-buttons-horizontal {
  direction: ltr;
}

:host::ng-deep .p-inputnumber-buttons-horizontal .p-inputnumber-input {
  font-size: 12px;
  font-family: IRANSans_Bold !important;
  text-align: center;
}

input[type="text"] {
  height: 45px;
  border-radius: 5px;
  font-size: 12px;
  font-family: IRANSans_Bold !important;
}

input[type="text"]::placeholder {
  color: #777;
  font-size: 12px;
  padding-right: 5px;
  font-family: IRANSans_Bold !important;
}

:host::ng-deep .p-panel {
  border-color: #20b66f;
}

input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-inputnumber,
:host::ng-deep .p-inputnumber-input,
:host::ng-deep .p-inputnumber-buttons-horizontal .p-inputtext,
:host::ng-deep .p-inputnumber-buttons-horizontal .p-inputnumber-input,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
  width: 100% !important;
}

:host::ng-deep .p-dropdown {
  border-radius: 5px;
}

:host::ng-deep .p-dropdown .p-dropdown-label {
  font-family: IRANSans_Bold !important;
  font-size: 12px;
  color: #777;
}

:host::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-family: IRANSans_Light !important;
  font-size: 16px;
}

.form-label {
  font-size: 14px;
  font-family: IRANSans_Bold !important;
  color: #777;
  margin-left: 10px;
}

textarea {
  font-family: IRANSans_Light !important;
  font-size: 14px;
}

:host::ng-deep textarea::placeholder {
  font-family: IRANSans_Light !important;
  font-size: 14px;
}

:host::ng-deep .p-button .p-button-icon-left {
  margin-left: 5px;
}

:host::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #20b66f;
}

:host::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover {
  background: #20b66f;
}

:host::ng-deep .p-checkbox .p-checkbox-box:hover {
  border-color: #20b66f;
}

:host::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
  background: #20b66f;
  border-color: #20b66f;
}

@media (max-width: 991px) {

  :host::ng-deep .p-button {
      margin-bottom: 5px;
  }
}

:host::ng-deep .p-message .p-message-summary{
  font-size: 16px;
  font-family: IRANSans_Light !important;
  margin-right: 5px;
}
:host::ng-deep  .p-message  .p-message-detail {
  font-size: 16px;
  font-family: IRANSans_Light !important;
}
:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-size: 16px;
  font-family: IRANSans_Light !important;
  margin-right: 10px;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-size: 16px;
  font-family: IRANSans_Light !important;
}

.card img{
  max-width:100px ;
  border-radius: 10px;
}
h2{
  font-size: 14px;
}