<div id="about" class="about wow wow zoomIn"  data-wow-duration="2s" data-wow-delay="0s">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-3">
        <img src="../../../../assets/images/about.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-6">
        <h2>درباره ماناگل</h2>
        <p>
          از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
          فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و
          فونت ها و اندازه ها چگونه در نظر گرفته شده است.از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد،
          طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند
        </p>
        <p>
          از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
          فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و
          فونت ها و اندازه ها چگونه در نظر گرفته شده است.
          از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
          فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و
          فونت ها و اندازه ها چگونه در نظر گرفته شده است.
        </p>
      </div>
    </div>
  </div>
</div>











